.explore-page-layout{
    display: grid;
    grid-template-columns: 180px 2fr 1fr;
    grid-template-areas:
      'nav-bar main suggested-user'
      'nav-bar main suggested-user';
}

.side-nav{
    grid-area: nav-bar;
}

.main-section{
    grid-area: main;
}
.suggested-users{
    grid-area: suggested-user;
}

.explore-heading{
    border: 1px solid;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
   
}
.explore-posts{
    display: flex;
    flex-direction: column;
    
}